#button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

#button-container button {
  padding: 10px 20px;
  height: 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border: none;
  background: rgba(46, 46, 57, 1);
  border-radius: 5px;
}

#button-container button.selected {
  background: rgb(255, 95, 129);
}

#button-container #settingsBtn {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 1; /* Prevents extra spacing */
  padding: 0;
}
